.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
.icon-bar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto; 
}

.icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease;
    color: white;
    font-size: 36px; 
}

.icon-bar a:hover {
    background-color: #000; 
}

body {
    background-image: url('media/bkd.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
   
}

a:link, a:visited, a:hover, a:active{
		color:maroon;
		text-decoration:none;
}	

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
	color:white;
	border-radius:10px;
}
	
section {
padding: 80px;
font-size: 2vmax;
}

nav {
    background-color: #333;
	padding:10px;
}
.nav, .aside, .main {
    flex: 1 1 100%; 
    box-sizing: border-box;
}

.responsive {
    width: 100%;
    height: auto;
  }

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


header{
	margin-top:0%;
	padding:10px;
}

h1{
    font-family: serif;
	color:rgb(255, 255, 255);
    text-shadow:3px 3px rgb(68, 20, 20);	
    text-align:center;
    font-size: 5vw;
}
h2{
	font-family: "Alfa Slab One", serif;
    text-align:center;
    font-size: 5vw;
    text-shadow: 3px 3px rgb(68, 10, 8);
    color: white;
}

p {
    text-shadow:  1px 1px black;
    color: white;
}

aside {
    background: rgb(7, 65, 57);
    padding: 25px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.indent{
	text-indent:40px;
}
.center{
	margin-right:auto;
	margin-left:auto;
}

/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 15px;
}
@keyframes mymove {
    from {left: -30%;}
    to {left: 20%;}
}
p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
from {
    margin-left:200%;
    width: 300%;
    }

to {
    margin-left: 0%;
    width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .col-3 {
        flex: 1 1 20%;
    }
    .col-6 {
        flex: 1 1 60%; 
    }
}

@media only screen and (max-width: 599px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
}
    .col-3 {
        grid-column: span 1;
    }
    .col-6 {
        grid-column: span 3;
    }

aside img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

footer {
    width: 100%;
    position: relative;
    clear: both;
    color: white;
}


